body {
    background: #fefefe;
    margin-left: 0em;
    margin-right: 0em;
}

main {
    margin-right: 1em;
    margin-left: 1em;
}

.heading {
    background: #7d7f80;
}

.header {
    color: #033b55;
}

h2.section-header {
    color: #419af3;
    font-size: 2em;
}

.information-me {
    font-size: 1em;
}