        html,
        body {
            height: 100%;
        }
        
        body {
            background: #fefefe;
            margin-left: 0em;
            margin-right: 0em;
        }
        
        .navigation {
            background: #f0ed40;
            position: fixed;
            padding: 20px 0 20px 0;
            width: 100%;
            top: 0;
            left: 0;
        }
        
        .navigation .link {
            text-decoration: none;
            padding: 0 10px 0 10px;
        }
        
        .main {
            margin-right: 150px;
            margin-left: 150px;
            margin-top: 70px;
        }
        
        .header {
            text-align: center;
        }
        
        .header__title {
            color: #033b55;
        }
        
        .section__title {
            color: #419af3;
            font-size: 2em;
        }
        
        .section__title-information {
            font-size: 1em;
            color: #5e8fe9;
        }
        
        .footer {
            position: absolute;
            width: 100%;
            height: 60px;
            text-align: center;
            background: #0198fc;
        }